---
title: Board
permalink: "/board/"
layout: page
navEnabled: true
order: 6
---

<section class="flex flex-wrap">
  {% assign members = site.board_members | sort: 'sortOrder' %}
  {% for member in members %}
  <article class="w-100 w-50-m w-25-l pa3">
    <div class="ba b--black-10 br2 pa3 pa4-ns">
      <div class="tc">
        <span class="br-100 h4 w4 dib ba b--black-10 pa2 mb2">
          <span class="w-100 h-100 br-100 dib cover bg-center bg-light-gray" style="background-image: url({{ site.data.settings.board_member_img_url | append: member.image }})"></span>
        </span>
        <h1 class="f3 mb3">{{ member.firstName }} {{ member.lastName }}</h1>
        {% for title in member.titles %}
        <h2 class="f5 fw4 gray mt0 dib ph2">{{ title }}</h2>
        {% endfor %}
        <a href="mailto:{{ member.email }}" class="link fw6 db pv2">Email {{ member.firstName }}</a>
      </div>
    </div>
  </article>
  {% endfor %}
</section>