<header class="sans-serif">
  <div class="cover bg-center" style="background-image: url({{ site.baseurl }}/assets/img/cover.jpg)">
    <div class="bg-purple-90 pb5">
      {% include nav.html %}
      
      <div class="tc-l mt3 mt4-m mt5-l ph3">
        <h1 class="f2 f1-l fw2 white-90 mb4 mb5-ns mw7 center lh-title">Welcome to the Phoenix chapter of the LSU Alumni Association</h1>
        <h2 class="fw4 f3 white-80 mw7 center">Our National Mission:</h2>
        <p class="lh-copy white-80 mb4 mb5-ns f5 f4-ns fw3 mw7 center">{{ site.data.mission.national }}</p>
        <h2 class="fw4 f3 white-80 mw7 center">Our Local Mission:</h2>
        <p class="lh-copy white-80 mb4 mb5-ns f5 f4-ns fw3 mw7 center">{{ site.data.mission.local }}</p>
        <div class="tc">
          <a class="f4 fw6 ttu tracked no-underline grow dib v-mid gold ba b--gold ph4 pv3" href="{{ site.baseurl }}/membership/">Become A Member</a>
        </div>
      </div>
    </div>
  </div> 
</header>