<div class="w-100 mw9 center flex-l items-center-l justify-between-l">
  <a class="f6 fw6 gold flex items-center nowrap pa3 pt4 pt3-l" href="{{ site.baseurl }}/">
    <span class="dib h2 w3 mr3">{% include _icons/lsu-logo.html %}</span>
    <span class="dib ttu tracked">Phoenix Alumni</span>
  </a>
  <nav class="f6 fw6 ttu tracked flex-auto w-100 pa3 pv4-l tr-l bt bb bn-l b--white-30">
    <a class="dib white hover-gold mv3 mv2-ns f6 mr3" href="{{ site.baseurl }}/">Home</a>
    {% assign pages = site.pages | sort: 'order' %}
    {% for page in pages %}
      {% if page.navEnabled %}
      <a class="dib white hover-gold mr3 mv3 mv2-ns f6" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>