---
layout: default
---

<header class="pv3 pv4-l bg-near-white bb b--black-10 mb3-ns">
  <h2 class="f3 f2-l ph3 ph4-ns fw6 mv0 lh-title ttu tracked purple mw9 center">{{ page.title }}</h2>
</header>

<div class="cf mw9 center pa3 ph4-ns">
  <article class="f4 cf measure-wide fl mb3 lh-copy">
    {{ content }}
  </article>
  
  <aside class="fl pl4-l db">
    <article class="bg-white center ba b--black-10 mb3">
      <div class="pv2 ph3 bb b--black-10">
         <h2 class="f6 ttu tracked">When (MST):</h2>
      </div>
      <div class="pa3">
        <p class="mb2 lh-copy">
          {{ page.date | date: '%a, %b %e, %l:%M%P %Z' }}
        </p>
      </div>
      {% if page.venue %}
  
        {% if page.venue.name %}
          <div class="pv2 ph3 bb bt b--black-10">
             <h3 class="f6 ttu tracked">Where:</h3>
          </div>
        {% endif %}
    
        <div class="pa3">
          {% if page.venue.name %}
            <p class="mb2 f4 b lh-copy">
              {{ page.venue.name }}
            </p>
          {% endif %}
          {% if page.venue.address %}
          <p class="mb2 lh-copy">
            {{ page.venue.address }}
          </p>
          {% endif %}
          
          {% if page.venue.phone %}
          <div class="pv2">
            <span class="blue w1 dib mr2">{% include _icons/phone.html %}</span>
            <a class="link dib" href="tel:{{ page.venue.phone }}">{{ page.venue.phone }}</a>
          </div>
          {% endif %}
          
          {% if page.venue.locationUrl %}
          <div class="pv2">
            <span class="blue w1 dib mr2">{% include _icons/map_marker.html %}</span>
            <a class="link dib" target="_blank" href="{{ page.venue.locationUrl }}">Get Directions</a>
          </div>
          {% endif %}
          
        </div>
        {% endif %}
    </article>
  </aside>
</div>
